
@import "../../styles/variables";

.headerItems{
    &:hover{
        transition: all .1s ease-in-out;
        transform: scale(1.2);
      }
}

.header-app{
    margin-bottom: 25px;
}
.flagLanguage{
  border: 2px solid $redHavas;
}
.languageSelect{

    left: -18px;
    box-shadow: 10px;
    box-shadow: -22px 11px 21px 3px rgba(0, 0, 0, 0.75);
    min-width: 95px;
}
.navbar-nav {
  flex-direction: row;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

