

<div class="row justify-content-center">
    <div class="col-10 ">
      <div class="row justify-content-between">
    
        <div class="search-form col-4">
          <div class="input-group">
            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div><input class="form-control" type="text" placeholder="I am looking for..">
            
          </div>
        </div>
        <div class="search-form col-1">
          <i  class="fa fa-file-excel-o fa-2x"></i>
        </div>
      </div>
    <!-- Example single danger button -->

          
    
    
    
        <table class="table table-striped table-responsive-sm">
          <thead>
          <tr>
            <th><input class="checkbox" name="one" id="all" type="checkbox"><label for="all"></label></th>
            <th>Column 1<i  title="Disabled tooltip" class="fa fa-arrow-down"></i></th>
            <th>Column 2<i class="fa fa-arrow-down"></i></th>
            <th>Column 3<i class="fa fa-arrow-down"></i></th>
            <th>Column 4<i class="fa fa-arrow-down"></i></th>
            <th>Column 5<i class="fa fa-arrow-down"></i></th>
            <th>Column 6<i class="fa fa-arrow-down"></i></th>
            <th>Column 7<i class="fa fa-arrow-down"></i></th>
            <th>Column 8<i class="fa fa-arrow-down"></i></th>
            <th>Column 9<i class="fa fa-arrow-down"></i></th>
            <th>Column 10<i class="fa fa-arrow-down"></i></th>
            <th>Column 11<i class="fa fa-arrow-down"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr class="justify-content-center">
            <td><input class="checkbox" name="one" id="one" type="checkbox"><label for="one"></label></td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td ><i class="fa fa-download" ></i><i class="fa fa-recycle" ></i><i class="fa fa-remove" ></i></td>
          </tr> <tr class="justify-content-center">
            <td><input class="checkbox" name="one" id="two" type="checkbox"><label for="two"></label></td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td ><i class="fa fa-download" ></i><i class="fa fa-recycle" ></i><i class="fa fa-remove" ></i></td>
          </tr> <tr class="justify-content-center">
            <td><input class="checkbox" name="one" id="three" type="checkbox"><label for="three"></label></td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td ><i class="fa fa-download" ></i><i class="fa fa-recycle" ></i><i class="fa fa-remove" ></i></td>
          </tr> <tr class="justify-content-center">
            <td><input class="checkbox" name="one" id="one" type="checkbox"><label for="one"></label></td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 1</td>
            <td>Cell 2</td>
            <td ><i class="fa fa-download" ></i><i class="fa fa-recycle" ></i><i class="fa fa-remove" ></i></td>
          </tr>
          </tbody>
        </table>
    
    </div>
    </div>
    