/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();
$mat-havas: (
  50: #f7e0e6,
  100: #ecb3c2,
  200: #df8099,
  300: #d24d70,
  400: #c92651,
  500: #bf0032,
  600: #b9002d,
  700: #b10026,
  800: #a9001f,
  900: #9b0013,
  A100: #ffc6ca,
  A200: #ff939a,
  A400: #ff606a,
  A700: #ff4752,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$primary: mat-palette($mat-havas, 500);
$accent:  mat-palette($mat-havas, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
